*{
  margin:0px;
  user-select:none;
  overflow:hidden;
}

body{
  width:100vw;
  height:100vh;

  background-size:auto;
}

.imgOpacity{
  width:100vw;
  height:100vh;

  background-color:rgba(255,255,123,1);
}
.top{
  width:100vw;
  height:5vh;
  display:flex;
  align-items:center;
  justify-content:space-around;
}
.header{
  width:100vw;
  height:15vh;
  display:flex;
  align-items:center;
  justify-content:space-around;
}
.center{
  width:100vw;
  height:60vh;
  display:flex;
  align-items:center;
  justify-content:space-around;
}
.center2{
  width:100vw;
  height:40vh;
  display:flex;
  align-items:center;
  justify-content:space-around;
}
.searchBox{
  width:60vw;
  height:20vh;
  color:black;
  font-size:5vh;
  padding-left:1vw;
  background-color:rgba(0,0,0,0);
  border:0.2vw solid black;
}

.content{
  width:100vw;
  height:75vh;
  display:inline-block;
}

.team{
  width:60vw;
  height:50vh;
  margin:auto;
  margin-bottom:1vh;
  margin-top:1vh;
  display:flex;
  align-items:center;
  justify-content:space-between;;
}

.vs{
  color:;
  font-size:5vh;
}

.blue{
  width:25vw;

  border:0.5vw solid #3053FF;
  display:inline-block;
}

.purple{
  width:25vw;

  border:0.5vw solid #F230FF;
  display:inline-block;
}

.user{
  width:18vw;
  height:8vh;
  margin:auto;
  display:flex;;
  align-items:center;
  justify-content:space-around;
}

.userImg{
  width:4.5vw;
  height:7vh;
}

.userName{
  color:black;
  font-size:2vh;
  align-items: center;
}

.kda{
  color:black;
  font-size:3vh;
}

.userData{
  width:60vw;
  height:25vh;
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin:auto;
}

.userProfile{
  width:28vw;
  height:20vh;

  border:0.2vw solid black;

  display:flex;
  align-items:center;
  justify-content:flex-start;
}

.userDataImg{
  width:12vw;
  height:20vh;
}

.userDataName{
  margin-left: 40px;
  color:black;
  font-size:4vh;
}

.Right{
  text-align: right;
}

.Left{

}

.userContent{
  width:28vw;
  height:20vh;

  border:0.2vw solid black;

  display:inline-block;
}

.userContentText{
  margin-left:1vw;
  height:4vh;
  font-size:2.4vh;
  color:black;
}
