*{
  margin:0px;
  user-select:none;
  overflow:hidden;
}

body{
  width:100vw;
  height:100vh;

  background-image:url('img/back.jpg');
  background-size:auto;
}

.imgOpacity{
  width:100vw;
  height:100vh;

  background-color:rgba(0,0,0,0.3);
}

.header{
  width:100vw;
  height:25vh;
  display:flex;
  align-items:center;
  justify-content:space-around;
}

.searchBox{
  width:60vw;
  height:20vh;
  color:white;
  font-size:5vh;
  padding-left:1vw;
  background-color:rgba(0,0,0,0);
  border:0.2vw solid white;
}

.content{
  width:100vw;
  height:75vh;
  display:inline-block;
}

.team{
  width:50vw;
  height:50vh;
  margin:auto;
  margin-bottom:1vh;
  margin-top:1vh;
  display:flex;
  align-items:center;
  justify-content:space-between;;
}

.vs{
  color:white;
  font-size:5vh;
}

.blue{
  width:20vw;

  border:0.5vw solid #3053FF;
  display:inline-block;
}

.purple{
  width:20vw;

  border:0.5vw solid #F230FF;
  display:inline-block;
}

.user{
  width:15vw;
  height:8vh;
  margin:auto;
  display:flex;;
  align-items:center;
  justify-content:space-around;
}

.userImg{
  width:5vw;
  height:7vh;
}

.userName{
  color:white;
  font-size:2vh;
}

.kda{
  color:white;
  font-size:3vh;
}

.userData{
  width:60vw;
  height:18vh;
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin:auto;
  margin-top:2vh;
}

.userProfile{
  width:25vw;
  height:16vh;

  border:0.2vw solid white;

  display:flex;
  align-items:center;
  justify-content:space-around;
}

.userDataImg{
  width:9vw;
  height:14vh;
}

.userDataName{
  color:white;
  font-size:4vh;
}
.Right{
  text-align: right;
}
.userContent{
  width:30vw;
  height:16vh;

  border:0.2vw solid white;

  display:inline-block;
}

.userContentText{
  margin-left:1vw;
  height:4vh;
  font-size:2.4vh;
  color:white;
}
